body {
  font-family: Arial;
  background: #f2f2f2;
  padding: 20px;
}

main {
  max-width: 400px;
  margin: auto;
}

#taskList {
  list-style: none;
  padding: 0;
}

#taskList li {
  background: white;
  padding: 10px;
  margin: 5px 0;
}
